	<section class="newsletter accent-bg">
				<div class="background-image-holder overlay accent" >
						<%= image_tag('bg-4.jpg', class: 'background-image', alt: 'Background')%>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-md-5 text-left">
							<h2 class="page-title">Join our newsletter</h2>
							<p>This is the modern store where you can buy one and and get a free popcorn plus free delivery.</p>
						</div>
						<div class="col-md-4">
							<form class="newsletter-form">
								<input type="text" name="email" id="email" placeholder="Your email address">
							</form>
						</div>
						<div class="col-md-3">
							<%= link_to "Join Now",root_path, class:"btn btn-primary" %>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>

			<footer class="footer">
				<div class="container">
					<div class="row">
					   <div class="col-md-6 col-md-offset-3">
						<ul class="footer-navigation">
								<li class="active">
				
							      <%= link_to 'Home', root_path %>
							   </li>
							
							      <li>
							       <%= link_to 'Store', root_path %>
						       	 </li>
							
							     <li>
							      <%= link_to 'About', root_path %>
						     	</li>
							
							      <li>
							      <%= link_to root_path do %>
							     <i class="fa fa-paper-plane"></i>Contact
							     <% end %>
							    </li>
					         
						</ul>
							<ul class="accepted-payments">
								<li>
								    <%= link_to root_path do %>
									<i class="fa fa-cc-amex"></i>
									<% end %>
								</li>
								 <li>
								    <%= link_to root_path do %>
									<i class="fa fa-cc-visa"></i>
									<% end %>
								</li>
								<li>
								     <%= link_to root_path do %>
									<i class="fa fa-cc-paypal"></i>
									<% end %>
								</li>
								  <li>
							          <%= link_to root_path do %>
								 	 <i class="fa fa-cc-stripe"></i>
									 <% end %>
								 </li>
								     <%= link_to root_path do %>
								 	 <i class="fa fa-cc-mastercard"></i>
								     <% end %>
								 </li>
							</ul>
							<div class="copyright">
								<p>Copyright © 2016 unedujoe@gmail.com</p>
							</div>
						</div>
					</div><!-- /.row -->
				</div><!-- /.container -->
			</footer>